@font-face{
	font-family: castellar;
	src: url('/fonts/Castellar.ttf');
}
@font-face{
	font-family: centuryGothic;
	src: url('/fonts/Century Gothic.ttf');
}
@font-face{
	font-family: plantagenetCherokee;
	src: url('/fonts/Plantagenet Cherokee.ttf');
}
@font-face{
	font-family: 中宋;
	src: url('/fonts/HWZS.ttf');
}
@font-face{
	font-family: 粗宋;
	src: url('/fonts/FZCSJW.ttf');
}
@font-face{
	font-family: 准圆;
	src: url('/fonts/FZY3JW.ttf');
}
body{
	margin:0;
}
.pageBody{
	margin-bottom:50px;
}
.headerBar{
	height:50px;
	width:100%;
	background-color:#22AA22;
	bottom:0;
	position:fixed;
	font-family: 中宋;
}
#headerLogo{
	height:50px;
	width:50px;
}
#headerLogo:hover{
	background-color:#22DD22;
}
#headerLogo:active{
	background-color:#22BB22;
}
.headerUL{
	list-style-type:none;
	margin:0;
	margin-left:5px;
	padding:0;
	display:inline;
	position:fixed;
}
.headerLI{
	display:inline;
	margin:0;
}
.headerA{
	text-decoration:none;
	color:#FFF;
	font-size:18px;
	padding:16px;
	top:15px;
	position:relative;
}
.headerActiveA{
	text-decoration:none;
	color:#FFF;
	font-size:18px;
	padding:16px;
	top:15px;
	position:relative;
	background-color:#228822;
}
.headerActiveLogo{
	background-color:#22CC22;
}
.headerA:hover,.headerActiveA:hover{
	background-color:#22CC22;
}
.headerA:active,.headerActiveA:active{
	background-color:#227722;
}
.headerRight{
	right:0;
	bottom:27px;
	position:absolute;
}
.redText{
	color:red;
}
.orangeText{
	color:orange;
}
.yellowText{
	color:yellow;
}
.greenText{
	color:green;
}
.blueText{
	color:blue;
}
.purpleText{
	color:purple;
}
.whiteText{
	color:white;
}
.borderText{
	text-shadow: 0 0 1px #000;
}
.card{
	height:489px;
	width:349px;
	border-radius:15px;
	position:relative;
	float:left;
	margin:10px;
}
.cardTemplate{
	border-radius:15px;
}
.cardSmall{
	transform:scale(0.5);
}
.cardCardNo{
	position:absolute;
	top:88%;
	left:4.5%;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	width:100px;
	text-align:center;
	transform:scale(0.63);
	color:#000;
}
.cardName{
	position:absolute;
	top:89.3%;
	left:35%;
	font-family: 粗宋;
	font-weight:bold;
	text-align:center;
	width:155px;
	color:#FFF;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}
.cardLevel{
	position:absolute;
	top:5.3%;
	left:7.8%;
	font-family: plantagenetCherokee;
	font-size:22px;
	color:#FFF;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}
.cardCost{
	position:absolute;
	top:12%;
	left:8%;
	font-family: plantagenetCherokee;
	font-size:18px;
	color:#000;
}
.cardNumber1{
	position:absolute;
	top:90.5%;
	left:7.8%;
	font-family: plantagenetCherokee;
	font-size:22px;
	text-align:center;
	width:65px;
	color:#FFF;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}
.cardNumber2{
	position:absolute;
	top:93.5%;
	left:29%;
}
.cardTag1{
	height:15px;
	width:81px;
	text-align:center;
	position:absolute;
	top:93.7%;
	left:69%;
	background-image:url('/cards/templates/tag.png');
	color:#000;
	font-family:准圆;
	font-size:12px;
	font-weight:bold;
}
.cardTag2{
	height:15px;
	width:81px;
	text-align:center;
	position:absolute;
	top:93.7%;
	left:46.5%;
	background-image:url('/cards/templates/tag.png');
	color:#000;
	font-family:准圆;
	font-size:12px;
	font-weight:bold;
}
.cardTextArea{
	position:absolute;
	bottom:12%;
	left:5%;
}
.cardTextArea > img{
	display:block;
}
.cardDesc{
	background-image:url('/cards/templates/description.png');
	background-repeat:repeat-y;
	font-family:黑体;
	font-size:15px;
	color:#000;
	padding-left:5%;
	padding-right:5%;
	text-align:center;
	margin-bottom:3%;
}
.cardText{
	background-image:url('/cards/templates/text.png');
	background-repeat:repeat-y;
	font-family:准圆;
	font-size:12px;
	color:#000;
	padding-left:5%;
	padding-right:5%;
}