body{
	margin:0;
}
.pageBody{
	margin-bottom:50px;
}
.headerBar{
	height:50px;
	width:100%;
	background-color:#22AA22;
	bottom:0;
	position:fixed;
}
#headerLogo{
	height:50px;
	width:50px;
}
.headerUL{
	list-style-type:none;
	margin:0;
	margin-left:5px;
	padding:0;
	display:inline;
	height:50px;
	left:50px;
	bottom:0;
	position:absolute;
}
.headerLI{
	display:inline;
	margin:0;
}
.headerA{
	text-decoration:none;
	color:#FFF;
	font-size:18px;
	padding:16px;
	top:15px;
	position:relative;
}
.headerActiveA{
	text-decoration:none;
	color:#FFF;
	font-size:18px;
	padding:16px;
	top:15px;
	position:relative;
	background-color:#228822;
}
.headerA:hover,.headerActiveA:hover{
	background-color:#22CC22;
}
.headerA:active,.headerActiveA:hover{
	background-color:#227722;
}
.headerRight{
	right:0;
	bottom:29px;
	position:absolute;
}
.redText{
	color:red;
}
.orangeText{
	color:orange;
}
.yellowText{
	color:yellow;
}
.greenText{
	color:green;
}
.blueText{
	color:blue;
}
.purpleText{
	color:purple;
}
.whiteText{
	color:white;
}
.borderText{
	text-shadow: 0 0 1px #000;
}