@font-face{
	font-family: 宋体;
	src: url('/fonts/simsun.ttc');
}
body{
	margin:0;
}
.pageBody{
	margin-bottom:50px;
}
.headerBar{
	height:50px;
	width:100%;
	background-color:#22AA22;
	bottom:0;
	position:fixed;
	font-family: 宋体;
}
#headerLogo{
	height:50px;
	width:50px;
}
#headerLogo:hover{
	background-color:#22DD22;
}
#headerLogo:active{
	background-color:#22BB22;
}
.headerUL{
	list-style-type:none;
	margin:0;
	margin-left:5px;
	padding:0;
	display:inline;
	position:fixed;
}
.headerLI{
	display:inline;
	margin:0;
}
.headerA{
	text-decoration:none;
	color:#FFF;
	font-size:18px;
	padding:16px;
	top:15px;
	position:relative;
}
.headerActiveA{
	text-decoration:none;
	color:#FFF;
	font-size:18px;
	padding:16px;
	top:15px;
	position:relative;
	background-color:#228822;
}
.headerActiveLogo{
	background-color:#22CC22;
}
.headerA:hover,.headerActiveA:hover{
	background-color:#22CC22;
}
.headerA:active,.headerActiveA:active{
	background-color:#227722;
}
.headerRight{
	right:0;
	bottom:29px;
	position:absolute;
}
.redText{
	color:red;
}
.orangeText{
	color:orange;
}
.yellowText{
	color:yellow;
}
.greenText{
	color:green;
}
.blueText{
	color:blue;
}
.purpleText{
	color:purple;
}
.whiteText{
	color:white;
}
.borderText{
	text-shadow: 0 0 1px #000;
}
.card{
	height:489px;
	width:349px;
	border-radius:10px;
}
.cardSmall{
	transform:scale(0.5,0.5);
}
.cardCardNo{
	position:relative;
	top:-63px;
	left:40px;
	font-size:10px;
}
.cardName{
	position:relative;
	top:-55px;
	left:55px;
	box-align:center;
	width:100px;
}